 </div>
 <div class="panel-footer navbar-static-bottom">
 	<a class="footer-link" href="/">Math in Motion &reg;</a> |
 	<a class="footer-link" href="/store"  target="_blank">Store</a> |
 	<a class="footer-link" href="/about"  target="_blank">About</a> |
 	<a class="footer-link" href="/contact"  target="_blank">Contact</a> |
 	<a class="footer-link" href="#top">Back to Top</a>
 </div>