<div id="top"></div>
<div class="navbar navbar-static-top"  id="main-nav">
  <div class="navbar-header">
    <a id="sd_brand" class="navbar-brand" href="/"><img src = "/images/logo.png" id="sd_logo"/></a>
  </div>
  <div class="navbar-collapse">
  </div>
</div>