<div id="top"></div>
<div class="navbar navbar-static-top"  id="main-nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="sd_brand" class="navbar-brand" href="/"><img src = "/images/logo.png" id="sd_logo"/></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="greeting">Welcome back, [name]</li>
        <li><a href="/" class="btn-nav">Logout</a></li>
      </ul>
  </div>
</div>
  <div class="container-fluid">