<div id="race_panel" class="panel_program">
	<h2>Let's Race!</h2>
	<h4>This feature has not been implemented yet...</h4>
	<h3>Upcoming Events</h3>
	<hr/>
	<h3>Learn More</h3>
	<hr/>
	<h3>Sign Up</h3>
</div>