<!doctype html>

<html>
{{> head}}

<body>
	{{> navbar-alt}}
	<div class="wrapper container" id="about-styles">
		<h1>About Us</h1>
		<div class="about-content">
			<div class="dedication">
				<img src="/images/speeg.png" class="pull-left"/>
				<h3>This program is dedicated to Bill Speeg</h3>
				<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</em></p>
				<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</em></p>
			</div>
			<hr/>
			<div class="text-center main-about">
				<h3 class="subheading yellow">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					&nbsp;Our Mission&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<br/>
				<h3 class="subheading blue">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						&nbsp;Our Story&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<br/>
				<h3 class="subheading red">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						&nbsp;About ALEKS&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<br/>
				<h3 class="subheading yellow">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						&nbsp;About the Soapbox Derby&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<br/>
				<h3 class="subheading blue">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						&nbsp;About Pazzaz&nbsp;
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<!-- <h4>Our Sponsors</h4> -->
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>
