<!doctype html>

<html>
{{> head}}

<body>
	{{> navbar}}
	<div class="main-wrapper wrapper container" id="development-styles">
		<a href="/home" class="pull-right">Switch to student view (testing only)</a>
		<div class="colored-block">
			<h1 class="text-center" id="main-title">Welcome back, [teacher name]</h1>
		</div>
		<div class="row">
			<div class="col-md-5 blue dashboard-panel">
				<h2>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					&nbsp; My Students
				</h2>
				<ul class="list-unstyled main-list">
					<li title="Teacher can check how students are doing as a whole and individually">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Progress (Overall = 85%)
					</li>
					<li title="Teacher can see students' standing by ALEKS mastery">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Leaderboard
					</li>
					<li title="Teacher can approve/reject student videos about topics">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Review Student Submissions <div class="badge">2</div>
					</li>
					<li title="Teacher can keep track of students' grades">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Gradebook
					</li>
				</ul>
			</div>
			<span class="col-md-1">&nbsp;</span>
			<div class="col-md-5 blue dashboard-panel">
				<h2>
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					&nbsp; Messages
				</h2>
				<ul class="list-unstyled main-list">
					<li title="Place where teacher can receive messages from students">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Inbox <div class="badge">2</div>
					</li>
					<li title="Teacher can send messages to individual students or entire class">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Send Message
					</li>
					<li title="Teacher can review messages he or she has sent">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Drafts <div class="badge">4</div>
					</li>
					<li title="Teacher can review messages he or she has sent">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Outbox
					</li>
				</ul>
			</div>
		</div>
		<span class="row">&nbsp;</span>
		<div class="row">
			<div class="col-md-5 blue dashboard-panel">
				<h2>
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					&nbsp; Lessons
				</h2>
				<ul class="list-unstyled main-list">
					<li title="Teacher can look for different racing-themed learning activitis">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Classroom Activities
					</li>
					<li title="Teacher can plan out what he or she will be teaching the class">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Lesson Plans
					</li>
					<li title="Teacher see videos for each lesson or submit his or her own">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						ALEKS Videos
					</li>
					<li title="Teacher can order marble games for classroom">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Order Marble Game
					</li>
				</ul>
			</div>
			<span class="col-md-1">&nbsp;</span>
			<div class="col-md-5 blue dashboard-panel">
				<h2>
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					&nbsp; Resources
				</h2>
				<ul class="list-unstyled main-list">
					<li title="Teacher can view videos about professional development">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Professional Development Videos
					</li>
					<li title="Teachers can access upcoming events including school-wide and soapbox derby events">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Calendar
					</li>
					<li title="Teachers can access soapbox derby resources">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						Upcoming Soapbox Derby Races
					</li>
					<li title="Teacher can connect with other teachers/parents and discuss educational topics">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
						School Forum
					</li>
				</ul>
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>
