<!doctype html>

<html>
{{> head}}

<body>
	{{> navbar-alt}}
	<div class="wrapper container" id="contact-styles">
		<h1>Order Marble Game</h1>
		<div id="contact-content">
			<h3>Marble Game: $$$ per item</h3>
			<form id="contact_form"  class="contact-section">
			    <div class="row">
			    	<div class="col-md-6">
			        	<input type="text" id="first_name" placeholder="* First Name"/>
			        </div>
			    	<div class="col-md-6">
			        	<input type="text" id="last_name" placeholder="* Last Name"/>
			        </div>
			    </div>

			    <div class="row">
			    	<div class="col-md-10">
				    	<input type="text" id="address" placeholder="* Shipping Address"/>
				    </div>
				    <div class="col-md-2">
				    	<input type="text" id="address" placeholder="Suite/Apt #"/>
				    </div>
				</div>
				<div class="row">
			    	<div class="col-md-5">
				    	<input type="text" id="city" placeholder="* City"/>
				    </div>
				    <div class="col-md-3">
				        <select id="states">
							<option value="" disabled selected>-- * Select State --</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachussetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virgina</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
				    </div>
				    <div class="col-md-4">
				    	<input type="text" id="zip" placeholder="* Zip/Postal Code"/>
				    </div>
				</div>
				<br/>
				<br/>
				<div class="row">
			    	<span class="col-md-8">
			    		&nbsp;
			    	</span>
			    	<div class="col-md-4">
				        <input type="number" placeholder="* Quantity"/>
				    </div>
			    </div>
			    <div class="row">
			    	<span class="col-md-9">
			    		&nbsp;
			    	</span>
			    	<div class="col-md-3">
				        <h3 class="pull-right"><strong>Total: $$$</strong></h3>
				    </div>
			    </div>
			    <br/>
			    <br/>
			    <br/>
				<div class="row">
					<input type="submit" value="Place Order" class="btn btn-go pull-right" id="submit_message"/>
				<label class="pull-right" id="contact-help">*  Required</label>
				</div>
			</form>
		</div>
	</div>
	{{> footer}}
</body>
</html>
