<!doctype html>

<html>
{{> head}}

<body>
	{{> navbar-alt}}
	<div class="wrapper container" id="store-styles">


		<h1>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			Kickstart your Learning Now!
		</h1>
		<div class="row text-center" id="store-wrapper">
			<div class="store-item col-md-5">
				<img class="store-img" src="/images/marble-game.jpg"/>
				<h3 class="subheading">- Marble Game -</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				<div class="row">
					<span class="col-xs-4">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="/order">Buy for $$$</a>
					<span class="col-xs-4">&nbsp;</span>
				</div>
			</div>
			<div class="store-item col-md-5">
				<img class="store-img" src="/images/aleks-program.png"/>
				<h3 class="subheading">- ALEKS Program -</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				<div class="row">
					<span class="col-xs-1">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="/lessons" target="_blank">Buy for $$$</a>
					<span class="col-xs-2">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="/lessons" target="_blank">Enter Key</a>
					<span class="col-xs-1">&nbsp;</span>
				</div>
			</div>
			<div class="store-item col-md-5">
				<img class="store-img" src="/images/professional-development.jpg"/>
				<h3 class="subheading">- School Program -</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				<div class="row">
					<span class="col-xs-1">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="/development" target="_blank">Buy for $$$</a>
					<span class="col-xs-2">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="/development" target="_blank">Enter Key</a>
					<span class="col-xs-1">&nbsp;</span>
				</div>
			</div>
			<div class="store-item col-md-5">
				<img class="store-img" src="/images/soapbox-derby.jpg"/>
				<h3 class="subheading">- Soapbox Derby -</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				<div class="row">
					<span class="col-xs-4">&nbsp;</span>
					<a class="col-xs-4 btn purchas-btn" href="http://www.soapboxderby.org/" target="_blank">Sign Up!</a>
					<span class="col-xs-4">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>
